import 'package:flutter/material.dart';
import 'view.dart';

class {{name}}Navigation extends StatefulWidget {
  final String selected;
  const {{name}}Navigation(this.selected);

  @override
  State<StatefulWidget> createState() => {{name}}View();
}
